.DS_Store

# Ignore all tmux plugins, as they can be installed using tpm (<prefix> I to
# install). tpm is included as a git submodule, so it will not be gitignored.
tmux/plugins/*

# Ignore everything in the zsh directory (history, sessions, etc.)
zsh/*

# Except for these
!zsh/.p10k.zsh
!zsh/.zshrc
!zsh/oh-my-zsh/

# Ignore these files and directories in the obsidian directory
obsidian/workspace.json
obsidian/plugins/*
