# {{scheme-name}} - Alacritty
# {{scheme-author}}

[colors.primary]
background = '0x{{base00-hex}}'
foreground = '0x{{base05-hex}}'

# If `custom_cursor_colors` is `true`.
[colors.cursor]
text = '0x{{base00-hex}}'
cursor = '0x{{base05-hex}}'

[colors.normal]
black = '0x{{base00-hex}}'
red = '0x{{base08-hex}}'
green = '0x{{base0B-hex}}'
yellow = '0x{{base0A-hex}}'
blue = '0x{{base0D-hex}}'
magenta = '0x{{base0E-hex}}'
cyan = '0x{{base0C-hex}}'
white = '0x{{base05-hex}}'

[colors.bright]
black = '0x{{base03-hex}}'
red = '0x{{base08-hex}}'
green = '0x{{base0B-hex}}'
yellow = '0x{{base0A-hex}}'
blue = '0x{{base0D-hex}}'
magenta = '0x{{base0E-hex}}'
cyan = '0x{{base0C-hex}}'
white = '0x{{base07-hex}}'

# Additional Base16 colors for 256 colorspace.
# https://github.com/chriskempson/base16-shell

[[colors.indexed_colors]]
index = 16
color = "0x{{base09-hex}}"

[[colors.indexed_colors]]
index = 17
color = "0x{{base0F-hex}}"

[[colors.indexed_colors]]
index = 18
color = "0x{{base01-hex}}"

[[colors.indexed_colors]]
index = 19
color = "0x{{base02-hex}}"

[[colors.indexed_colors]]
index = 20
color = "0x{{base04-hex}}"

[[colors.indexed_colors]]
index = 21
color = "0x{{base06-hex}}"
